/* ==================== Root Style ==================== */
:root {
	--primary: #00abb3;
	--primary-t: #fff;
	--primary-b: #00abb3;
	--secondary: #646464;
	--text: #b2b2b2;
	--border: #eaeaea;
	--shadow: #d6d3d3b7;
	--radius: 0.6rem;
	--font-family: "Ray";
}

/* ==================== Reset Css ==================== */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

* {
	transition: all 0.3s ease-in-out;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a,
button {
	cursor: revert;
}

ol,
ul,
menu {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

pre {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: initial;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable="true"]) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}

/* ==================== Loaded Fonts ==================== */
@font-face {
	font-family: "Ray";
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
	src: local("Ray"), url(../font/Ray.woff) format("woff");
}
@font-face {
	font-family: "Ray";
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
	src: local("Yekan Bakh"), url(../font/Ray-Bold.woff) format("woff");
}

* {
	font-family: "Ray";
	font-size: 1.2rem;
}

/* ==================== main style ==================== */
main {
	padding: 0 20px;
}
.small {
	font-size: 1rem;
	color: var(--primary);
}
/* ==================== sections style ==================== */
.boxed {
	width: 100%;
	margin: 10px 0;
	border: 1px solid var(--border);
	border-radius: var(--radius);
	box-shadow: 0 0 20px 0 var(--shadow);
	overflow: hidden;
}
.boxed-title {
	padding: 5px 10px;
	background-color: var(--primary);
	color: var(--primary-t);
	border-bottom: 1px solid var(--border);
}
.boxed-description {
	padding: 10px;
	color: var(--secondary);
}
.boxed-description.box-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}
.boxed-description .fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}
.boxed-description.box-results,
.boxed-description.box-news {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
/* ==================== input style ==================== */
.field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.label,
.input {
	width: 100%;
}
.label {
	padding: 0 5px;
}
.field-title {
	color: var(--secondary);
	font-size: 1.4rem;
}
.input {
	padding: 6px 10px;
	border: 1px solid var(--border);
	border-radius: var(--radius);
}
.input::placeholder {
	color: var(--text);
}
.input:focus::placeholder {
	color: transparent;
}
.require {
	font-size: 1.8rem;
	color: red;
}
/* ==================== result style ==================== */
.results {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--border);
}
.results:last-child {
	border-bottom: none;
}
.results-separator {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.results-separator.rs-description {
	border-right: 3px solid var(--primary);
}
.results-title,
.news-title {
	padding: 0 10px;
	color: var(--primary);
	font-size: 1.4rem;
}
.results-subtitle,
.news-subtitle {
	padding-right: 10px;
	color: var(--text);
}
.result {
	margin: 0 5px;
	padding: 4px 12px;
	border: 2px solid var(--primary);
	border-radius: var(--radius);
}

/* ==================== news style ==================== */
.news {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 5px;
	border-bottom: 1px solid var(--border);
}
.news:last-child {
	border-bottom: none;
}
.news-title {
	border-right: 3px solid var(--primary);
}
.news-subtitle{
	font-size: 1.4rem;
}
/* ==================== responsiv style ==================== */
@media (min-width: 640px) {
	.small {
		font-size: 1.3rem;
	}
	.boxed-title,
	.field-title,
	.results-title,
	.news-title {
		font-size: 1.8rem;
	}
	.input,
	.results-subtitle,
	.result-price{
		font-size: 1.4rem;
	}
	.news-subtitle{
		font-size: 1.6rem;
	}
}
@media (min-width: 768px) {
	.boxed-description .fields {
		width: 48%;
	}
}
@media (min-width: 1024px) {
	.small {
		font-size: 1.4rem;
	}
	.boxed-title,
	.field-title,
	.results-title,
	.news-title {
		font-size: 2rem;
	}
	.result-price {
		font-size: 1.6rem;
	}
	.news-subtitle{
		font-size: 1.8rem;
	}
}
@media (min-width: 1280px) {
	.small {
		font-size: 1.5rem;
	}
	.boxed-title,
	.field-title,
	.results-title,
	.news-title {
		font-size: 2.2rem;
	}
	.result-price {
		font-size: 1.8rem;
	}
	.news-subtitle{
		font-size: 2rem;
	}
}