/* ==================== Root Style ==================== */
:root {
	--primary: #00abb3;
	--primary-t: #fff;
	--primary-b: #00abb3;
	--secondary: #3c4048;
	--text: #b2b2b2;
	--border: #eaeaea;
	--shadow: #d6d3d3b7;
	--radius: 0.7rem;
	--font-family: "Ray";
}

/* ==================== Reset Css ==================== */
*:where(
		:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
	) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a,
button {
	cursor: revert;
}

ol,
ul,
menu {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

pre {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: initial;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable="true"]) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}

/* ==================== Loaded Fonts ==================== */
@font-face {
	font-family: "Ray";
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
	src: local("Ray"), url(../font/Ray.woff) format("woff");
}
@font-face {
	font-family: "Ray";
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
	src: local("Yekan Bakh"), url(../font/Ray-Bold.woff) format("woff");
}

* {
	font-family: "Ray";
	font-size: 1.5rem;
}

/* ==================== main style ==================== */
main {
	padding: 0 20px;
}
small{
    font-size: 1rem;
}
/* ==================== sections style ==================== */
.boxed {
	width: 100%;
	margin: 10px 0;
	border: 1px solid var(--border);
	border-radius: var(--radius);
	box-shadow: 0 0 20px 0 var(--shadow);
	overflow: hidden;
}
.boxed-title {
	padding: 5px 10px;
	background-color: var(--primary);
	color: var(--primary-t);
	border-bottom: 1px solid var(--border);
}
.boxed-description {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	padding: 10px;
	color: var(--secondary);
}

.boxed-description .fields {
	width: 100%;
}
/* ==================== input style ==================== */
.field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.label,
.input {
	width: 100%;
}
.label {
	padding: 0 5px;
}
.input {
	padding: 2px 10px;
	border: 1px solid var(--border);
	border-radius: var(--radius);
}
.input::placeholder {
	font-size: 1.2rem;
	color: var(--text);
}

/* ==================== responsiv style ==================== */
@media (min-width: 640px) {
	.boxed-description .fields {
		width: 49%;
	}
}
